/**!
 *  CSS Media Query examples for using with mediaquery.js
 *
 */

/************ DEBUG **************/

.large {
    color: black;
}
.medium {
    color: dodgerblue;
}
.small {
    color: salmon;
}
.smaller {
    color: green;
}
/************ END DEBUG **********/

